*{
    color: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}
body {
    background: linear-gradient(90deg, #051e24f3, #378d9cf3);
}

@mixin flx-right {
    display: flex;
    justify-content: right;
}

.nav-bar {
    padding: 40px 50px 40px 0px;
    font-size: 22px;
    font-weight: 600;
    @include flx-right();
    gap: 40px;
    .active {
        color: #302f2f;
        background-color: rgb(155, 210, 213);
        border: 1px solid #8a8a8a;
        padding: 5px 10px;
        border-radius: 5px;
    }
    li .logout{
        color: #ffffff;
        background-color: transparent;
        border: none;
    }
}

.home {
    .welcome {
        text-align: center;
        margin-top: 50px;
        div {
            font-size: 42px;
            padding: 50px 0px;
            color: chocolate;
        }
    }
    .add-employee {
        display: flex;
        justify-content: center;
        .add-empl-btn {
            background-color: #4d3b3b ;
            border: 1px solid #8a8a8a;
            padding: 10px 12px;
            font-size: 18px;
            border-radius: 5px;
            cursor: pointer;
        }
    }
    
}

.login-chk {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    margin-top: 100px;
    .employee, .manager {
        padding: 35px;
        border: 1px solid #8a8a8a;
        border-radius: 5px;
        font-size: 42px;
        color: rgb(35, 242, 242);
        cursor: pointer;
    }
    .login-bg {
        background-color: rgb(52, 73, 74);
    }
}

.employee-list-tble {
    text-align: center;
    border: 1px solid #8a8a8a;
    margin: 50px auto;
    border-collapse: collapse;
    max-width: 1200px;
    .actions {
        display: flex;
        gap: 10px;
    }
    td, th, button {
        padding: 10px 12px;
        border: 1px solid #8a8a8a;
        font-size: 18px;
        overflow: auto;
        max-width: 350px;
    }
    button {
        color: #1b1818;
        border-radius: 5px;
        cursor: pointer;
    }
}

.employee-form-wrapper {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    td, th, button, input {
        padding: 5px 10px;
        font-size: 16px;
        overflow: auto;
    }
    input {
        color: #ffffff;
        outline: none;
        background: transparent;
        border: 1px solid #8a8a8a;
        letter-spacing: 0.8px;
        border-radius: 3px;
        overflow: auto;
    }
    button {
        background-color: #4d3b3b ;
        border: 1px solid #8a8a8a;
        padding: 10px 12px;
        font-size: 18px;
        border-radius: 5px;
        cursor: pointer;
    }
}

.login-form {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    .signup-title {
        width: 100%;
    }
    table {
        border-collapse: collapse;
        font-size: 20px;
        background-color: rgb(52, 73, 74);
    }
    td, th, button {
        padding: 18px 10px;
    }
    input {
        color: #ffffff;
        outline: none;
        background: transparent;
        border: 1px solid #8a8a8a;
        letter-spacing: 0.8px;
        border-radius: 3px;
        overflow: auto;
        font-size: 20px;
        padding: 5px;
    }
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type="number"] {
        -moz-appearance: textfield;
    }
    button {
        background-color: #4d3b3b ;
        border: 1px solid #8a8a8a;
        padding: 7px 12px;
        font-size: 18px;
        border-radius: 5px;
        cursor: pointer;
    }
    .new-user {
        color: rgb(169, 99, 239);
    }
}